* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #eee;
    font-size: 12pt;
    font-family: 'Inconsolata', monospace;
    text-align: justify;
    line-height: 1.5em;
    background: #000;
    height: 100%;
}

html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    margin-top: 2em;
}

h1:first-child {
    margin-top: 0;
}

code {
    font-size: 12pt;
}

div.wrapper {
    border-left: 4px double #fff;
    border-right: 4px double #fff;
    margin: 0 auto;
    padding: 4em 2em;
    width: 800px;
    min-height: 100%;
}

canvas {
    display: block;
    margin: 4em auto;
}

code {
    border: 1px solid #0ff;
    color: #0ff;
    padding: .2em .4em;
    font-size: 10pt;
}

pre {
    border: 1px dashed #eee;
    line-height: 1.2em;
    padding: 1em;
    margin: 4em 0;
}

blockquote {
    margin: 4em 0;
    border: 1px solid #ff0;
    padding: 1em 2em;
}
blockquote>p:first-child {
    color: #ff0;
}

pre>code {
    font-family: 'Inconsolata', monospace;
    border: 0;
    background: #000;
    color: #eee;
    font-size: 12pt;
}

ol, ul {
    margin-bottom: 3em;
}

a {
    color: #f0f;
}

.article-items li {
    font-size: 2em;
    margin-bottom: 1em;
}

h1.title {
    font-size: 4em;
    text-align: center;
    margin-bottom: 2em;
}
